<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
<% unless current_user %>
  <%= link_to "Login", new_user_session_url %>
<% else %>
  <% form_for @drank_beer, :url => drank_beer_path do |f| %>
    <%= f.label :quantity %><br />
    <%= f.text_field :quantity %><br />
    <br />
    <%= f.submit "Drink!" %>
  <% end %>
<%= link_to "Logout", user_session_path, :method => :delete, :confirm => "Are you sure you want to logout?" %>
<% end %>
